*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    display: flex;
    height: 200px;
    width: 100%;
    margin-bottom: 2vw;
}
h1{
    font-size: 40px;
    padding: 2vw 5vw;
    color: aqua;
    
}
.input-search{
    height: 20px;
}
.search{
    position: absolute;
    top: 0;
    right: 50px;
    height: 20px;
    margin-top: 40px;
}
.navigation{
    margin-top: 40px;
    display: flex;
}
.border{
    width: 8vw;
    border: 2px solid aqua;
    height: 22px;
    margin-right: 1vw;
}
.a-nav{
    text-decoration: none;
    color: aqua;
    margin-left: 2vw;
}
.btn-search{
    text-decoration: none;
    color: aqua;
}
.video{
    width: 50vw;
    height: 290px;
    margin: 5vw auto;
}
.vue-img{
    width: 30vw;
    border: 2px solid aqua;
}
.app{
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    margin: 0 auto;
    justify-content: space-between;
}
.sezon1{
    margin-bottom: 1vw;
    
}
